body {
  margin: 0;
  text-align: center;
  font-family: "Amatic SC", cursive;
  background-color: #40514E;
}

h1 {
  margin: 0 auto;
  width: 30%;
  font-family: "Indie Flower", cursive;
  font-size: 75px;
  color: #fd8d14;
}

h2 {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 45px;
  color: #fd8d14;
}

h3 {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 40px;
  color: #fd8d14;
}

p {
  font-size: 35px;
  color: #fd8d14;
}

.top-container {
  background-color: #ffd1da;
  padding-top: 150px;
  position: relative;
}

.web-style {
  text-decoration: underline;
}

.above-cloud {
  position: absolute;
  top: 53px;
  right: 300px;
}

.below-cloud {
  position: absolute;
  bottom: 555px;
  left: 300px;
}

.mountains {
  padding-top: 100px;
}

.middle-container {
  padding-top: 150px;
  padding-bottom: 70px;
}

.my-pic {
  height: 250px;
  width: 250px;
}

.intro {
  width: 60%;
  margin: auto;
}

hr {
  border-style: none;
  border-top: dotted;
  border-width: 15px;
  width: 20%;
  color: #fba1b7;
}

.skill-row {
  width: 55%;
  margin: 100px auto;
  text-align: left;
  line-height: 1;
}

.coding-language {
  width: 30%;
  float: left;
  margin-right: 60px;
}

.website-design {
  width: 30%;
  float: right;
  margin-left: 60px;
}

.bottom-container {
  background-color: #ffd1da;
  padding-top: 50px;
  padding-bottom: 20px;
}

.online-handle {
  color: #fd8d14;
  font-size: 35px;
  margin: 0 25px 0;
  text-decoration: none;
  font-weight: bold;
}

.online-handle:hover {
    color: #F11A7B;
}

.end-line {
  width: 60%;
  margin: auto;
  margin-bottom: 70px;
}

.btn {
  background: #fba1b7;
  border-radius: 10px;
  font-family: "Gloria Hallelujah", cursive;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #fd8d14;
  text-decoration: none;
}
